<div class="row">
  <div class="col-xs-12 mt-20">
      <div class="row">
        <b class="mr-10"> Filter task by status: </b>
        <button type="submit" class="btn btn-success mr-10" (click)="selectAllItem()">
          All
        </button>
        <button type="submit" class="btn btn-success mr-10" (click)="selectUncompleted()">
          Incomplete
        </button>
        <button type="submit" class="btn btn-success mr-10" (click)="selectCompleted()">
          Completed
        </button>
      </div>
  </div>
</div>
