<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <span class="pr-20">
          <label for="name" class="pr-10"><b>Title:</b></label>
          <input type="text" name="name" id="name" class="form-control" #nameInput required />
        </span>
          <button type="submit" class="btn btn-success mr-20" (click)="onAddItem()">
              Add
          </button>
          <button type="submit" class="btn btn-success" (click)="onSaveItem()">
              Save
          </button>
      </div>
    </form>
  </div>
</div>
